<footer class="blog-footer">
    <ul>
        <li class="text-center">
            <b style="color: #ff69b4";>{$footer.footer_text}</b>
        </li>
        <li class="text-center">{$footer.sys_copy} & 版权所有 ICP证：{$footer.sys_icp} 联系邮箱：<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Lh8eGh4YGxkXGhpuX18ATUFD" style="text-decoration:none;">1040657944@qq.com</a>
            <a href="admin/login.html" target="_blank">管理登录</a>
        </li>
    </ul>
</footer>
<script type="text/javascript" src="__PUBLIC__/static/common/layui/layui.js"></script>
<script src="__PUBLIC__/static/blog/js/base.js?={$config.qf_blog_version}" charset="utf-8"></script>


